<%- model_class = Fortune -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>

<p><%= link_to t('.new', :default => t("helpers.links.new")),
            new_fortune_path,
            :class => 'btn btn-primary' %>
</p>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @fortunes %>
  </div>
  <%= will_paginate @fortunes, :container => false %>
</div>

<%= form_tag fortunes_path, method: :get, id: "fortunes_search", class: "form-inline" do %>
  <%= text_field_tag :query, params[:query], class: "span4" %>
  <%= submit_tag "Search", name: nil, class: "btn" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:quotation) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'fortune', collection: @fortunes %>
  </tbody>
</table>
